#
# Package only files
#

# Compiled Bytecode, precompiled output and assembly
gamemode.amx

# binaries
announce
samp03svr
samp-npc

# logs
logs/
server_log.txt
svlog.txt
crashinfo.txt
log.txt

# Ban list
samp.ban

#
# Common files
#

*.sublime-workspace